# Solutions for the ungraded assignments

## Set 1

### Q1

In [1]:
x = [i for i in range(0,10)]

In [2]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
y = [i for i in range(3,13)]

In [4]:
y

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [5]:
print(x[::-1])

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [6]:
print(x[1::2])
print(x[::2])

[1, 3, 5, 7, 9]
[0, 2, 4, 6, 8]

In [7]:
a = x[3]
b = y[0]
if a == b:
    print('They are the same')

They are the same

In [8]:
print(x.index(10))

ValueError: 10 is not in list

Note, the problem solved above has a mistake.

In [9]:
print(y.index(7))

4

In [10]:
a = x+y

In [11]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [12]:
print('Location of the maximum number -> ', a.index(max(a)))
print('Location of the minimum number -> ', a.index(min(a)))

Location of the maximum number ->  19
Location of the minimum number ->  0

### Q2

In [13]:
x = "The quick brown fox jumps over the lazy dog"

In [15]:
if "fox" in x : print('Present')

Present

In [16]:
print(x[::-1])

god yzal eht revo spmuj xof nworb kciuq ehT

In [17]:
print(x[::3])

T i o xusv ea g

In [18]:
print(x[::4])

Tqkofjsehad

In [19]:
print('The number of characters in the sentence -> ',len(x))

The number of characters in the sentence ->  43

In [20]:
print(x[::-2])

gdya h eosmjxfnobkiqeT

In [22]:
y = x[:4]
z = x[-3:]
print(y+z)

The dog

In [23]:
print(y*10)

The The The The The The The The The The

### Q3

In [24]:
print('Hello World')

Hello World

In [25]:
#Comment
print('Hello World')

Hello World

In [33]:
name = 'Tintin'
age = 20
roll = '22MS038'
print('Name -> ', name)
print('Age -> ', age)
print('Roll No -> ', roll)
print('Hello! My name is '+name+'. I am '+str(age)+' years old. My roll number is '+roll+'.')
print('Hello! My name is %s. I am %s years old. My roll number is %s.'%(name,age,roll))

Name ->  Tintin
Age ->  20
Roll No ->  22MS038
Hello! My name is Tintin. I am 20 years old. My roll number is 22MS038.
Hello! My name is Tintin. I am 20 years old. My roll number is 22MS038.

In [27]:
a = input('Enter the first string -> ')
b = input('Enter the second string -> ')
print('Their sum -> ',a+b)

Enter the first string ->  10
Enter the second string ->  20

Their sum ->  1020

In [28]:
a = int(input('Enter the first string -> '))
b = int(input('Enter the second string -> '))
print('Their sum -> ',a+b)

Enter the first string ->  10
Enter the second string ->  20

Their sum ->  30

In [29]:
print("It's good to learn Python")

It's good to learn Python

In [30]:
print('"Where to meet you?" I said, "Well, use Google Meet!"')

"Where to meet you?" I said, "Well, use Google Meet!"

In [32]:
a = 10
b = 10.0
c = 'a'
print('Type of a -> ', type(a))
print('Type of b -> ', type(b))
print('Type of c -> ', type(c))

Type of a ->  <class 'int'>
Type of b ->  <class 'float'>
Type of c ->  <class 'str'>

In [34]:
Name = input('Enter your name -> ')
print('My name is '+Name)
print('My name is %s'%Name)

Enter your name ->  Feluda

My name is Feluda
My name is Feluda

In [35]:
a = [1,2,3,4,5,10]
b = [7,8,9,11,10,34]

def compare(a,b):
    for i in a:
        for j in b:
            if i == j:
                return True
            else:
                pass
    return False

print(compare(a,b))

True

In [36]:
def st(x):
    '''
    Takes a list of characters x
    and prints the string after concatenating them
    '''
    r = ''
    for i in x:
        r+=i
    return r

print(st(['T','e','s','t']))

Test

In [38]:
def rem(x,k):
    print('Original List: ')
    print(x)
    del x[k-1]
    print('Updated List: ')
    print(x)

x = [1,2,3,4,5,6]
rem(x,3)

Original List:
[1, 2, 3, 4, 5, 6]
Updated List:
[1, 2, 4, 5, 6]